server {
    listen 80;
    listen [::]:80;

    server_name {{ nginx.domain_name }};
    root {{ nginx.root_document_location }};

    index index.html;
    
    location / {
        try_files $uri $uri/ =404;
    }
}